{% extends "base.html" %} {% block content %}
<div colspan="2" bgcolor="#fff" class="td-content">
    <div>测试静态页面</div>
    <div class="content-indent">
        测试广告模板：参数{{ key }}
    </div>
    <div class="content-indent">
        测试广告模板：参数{{ title }}
    </div>
    <div class="content-indent">
        测试广告模板：参数{{ content }}
    </div>
    <div class="content-indent">
        测试广告模板：参数{{ create_time }}
    </div>
    <div class="content-indent">
        测试广告模板：参数{{ update_time }}
    </div>
    <div class="content-indent">
        测试新闻模板：参数{{ image }}
    </div>
    <div class="content-indent">
        测试新闻模板：参数{{ color }}
    </div>
    <div class="content-indent">
        测试新闻模板：参数{{ back_color }}
    </div>
    <div class="content-indent">
        测试新闻模板：参数{{ publish_time }}
    </div>
</div>
{% endblock %}