<html>

<head>
    <meta charset="utf-8" />
    <title>CloudCare_云计算服务_专属云计算管家|驻云科技</title>
    <meta name="baidu-site-verification" content="Yt0nOzDEci" />
    <meta name="keywords" content="CloudCare,驻云科技,驻云,上云迁移,云计算服务,云咨询,架构云,数据迁移,云系统管理,云监控,云管理,公有云,云安全运维,云管理平台,云服务器管理,云主机管理,云资产管理,云主机监控,云计算平台"
    />
    <meta name="description" content="CloudCare是驻云科技出品云计算服务品牌，以云计算软件+云管理平台+云专家服务创新服务模式，为云计算使用企业提供专业全方位的云计算服务模式。包括云架构设计，云安全运维，云计算培训，云资产管理，云大屏显示等多种云产品服务，云计算服务就选专业的管家云服务——CloudCare。"
    />
    <meta name="fragment" content="!" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <base href="/" />
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="main-container">
        <div class="header">
            <nav class="navbar container-fluid clearfix">
                <div class="navbar-header pull-left">
                    <a href="/" class="btn navbar-brand">
                <i class="logo"></i>
              </a>
                </div>
                <div class="navbar-footer pull-right clearfix">
                    <a href="https://en.cloudcare.cn/" target="_blank" class="en-link pull-left">
                <span class="en-link-logo"></span>
                <span>International</span>
              </a>
                    <div class="hasnt-login pull-right">
                        <a href="login.html" rel="nofollow" class="btn btn-login">登录</a>
                        <a href="register.html" target="_blank" rel="nofollow" class="btn btn-apply">开启账号</a>
                    </div>
                    <div class="has-login pull-right">
                        <a href="/" target="_blank" class="btn btn-link btn-login btn-home">
                  <span class="p-home">Home</span>
                </a>
                        <div class="dropdown logoutDropdown">
                            <a id="logoutDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn advice-link dropdown-toggle clearfix">
                    <span class="company-name"></span>
                    <span class="caret"></span>
                  </a>
                            <ul aria-labelledby="logoutDropdown" class="dropdown-menu">
                                <li>
                                    <a class="logout">退出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="navbar-collapse text-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a href="/">CloudCare</a>
                        </li>
                        <li data-value="support" class="nav-item">
                            <a href="views/support.html">产品与服务</a>
                        </li>
                        <li data-value="solution" class="nav-item">
                            <a href="views/solution.html">解决方案</a>
                        </li>
                        <li data-value="package" class="nav-item">
                            <a href="views/package.html">定价方案</a>
                        </li>
                        <li data-value="stories" class="nav-item">
                            <a href="views/stories.html">客户故事</a>
                        </li>
                        <li data-value="aboutus,joinus,contactus" class="nav-item">
                            <a href="views/aboutus.html">关于我们</a>
                        </li>
                        <!--li.nav-item(data-value="ecams")-->
                        <!--  a(href="views/ecams.html") ecams-->
                    </ul>
                </div>
            </nav>
        </div>
        <div class="tools-banner">
            <section class="section container-fluid banner-section">
                <div class="banner">
                    <img src="/images/aboutus/about-us-banner.jpg" width="100%" height="100%" />
                </div>
                <div class="container banner-block clearfix">
                    <span class="banner-title">关于我们</span>
                </div>
            </section>
        </div>
        <section class="section container-fluid aboutus-section">
            <div class="container aboutus-block clearfix">
                <div class="aboutus-left pull-left">
                    <ul>
                        <li class="title">关于我们</li>
                        <li>
                            <a href="views/aboutus.html">公司简介</a>
                        </li>
                        <li>
                            <a href="views/joinus.html">加入我们</a>
                        </li>
                        <li>
                            <a href="views/contactus.html">联系我们</a>
                        </li>
                        <li class="active">
                            <a href="news/list/1.html">新闻中心</a>
                        </li>
                    </ul>
                </div>
                <div class="aboutus-right">
                    <h4>
                        <span class="text-orange">关于我们</span>
                        <span> &gt; 新闻中心</span>
                    </h4>
                    <div class="aboutus-detail">
                        <div class="detail-line">
                            <div class="detail-title">新闻中心</div>
                        </div>
                        <div class="news">

                            {% block info_content %} {% endblock %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="scroll-tip">
            <section>
                <div id="js-tooltip" class="tooltip-box">
                    <div class="icon-m register-new">
                        <i class="icon-img"></i>
                        <span>扫描注册</span>
                        <div class="c-icon-popover pop-left">
                            <div class="arrow">
                                <div class="arrow-inner"></div>
                            </div>
                            <div class="c-popover-inner">
                                <div class="img-d">
                                    <img src="images/register-cloudcare.png" width="120px" height="120px" />
                                </div>
                                <p class="f-s-14">扫描注册</p>
                                <p class="f-s-12">7 大云软件免费使用
                                    <br/>享受更多云服务体验</p>
                            </div>
                        </div>
                    </div>
                    <div class="icon-m weixin">
                        <i class="icon-img"></i>
                        <span>微信</span>
                        <div style="height:175px;" class="c-icon-popover pop-left">
                            <div class="arrow">
                                <div class="arrow-inner"></div>
                            </div>
                            <div class="c-popover-inner">
                                <div class="img-d">
                                    <img src="images/wx.png" width="120px" height="120px" />
                                </div>
                                <p class="f-s-14">扫描上方二维码</p>
                                <p class="f-s-12">关注 CloudCare 官方微信</p>
                            </div>
                        </div>
                    </div>
                    <div class="phone icon-m">
                        <i class="icon-img"></i>
                        <span>电话</span>
                        <div class="pop-left c-icon-popover-phone">
                            <div class="arrow">
                                <div class="arrow-inner"></div>
                            </div>
                            <div class="c-popover-inner">
                                <p class="f-20 f-s-12">400-882-3320</p>
                                <p class="f-s-12">全国统一客服热线</p>
                            </div>
                        </div>
                    </div>
                    <div class="to-top icon-m">
                        <i class="icon-img"></i>
                        <span>返回顶部</span>
                    </div>
                </div>
            </section>
        </div>
        <div class="dialog-video layer-show">
            <div class="dialog-cotent">
                <span class="dialog-close"></span>
                <video id="my-video" controls="controls" preload="auto" width="700" height="500" poster="/images/index/banner-video-poster.png"
                    data-setup="{}" class="video-js">
                    <source src="/media/video.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
        <footer style="clear:both;">
            <div class="container-fluid index-footer">
                <div class="container index-block">
                    <div class="row link-item clearfix">
                        <div class="col-xs-9">
                            <div class="col-xs-3 item-info">
                                <h5>关于</h5>
                                <ul>
                                    <li>
                                        <a href="views/aboutus.html" target="_blank">公司简介</a>
                                    </li>
                                    <li>
                                        <a href="views/joinus.html" target="_blank">加入我们</a>
                                    </li>
                                    <li>
                                        <a href="views/contactus.html" target="_blank">联系我们</a>
                                    </li>
                                    <li>
                                        <a href="news/list/1.html" target="_blank">新闻中心</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3 item-info">
                                <h5>支持</h5>
                                <ul>
                                    <li>
                                        <a href="https://docs.cloudcare.cn/" target="_blank">文档中心</a>
                                    </li>
                                    <li>
                                        <a href="https://market.aliyun.com/store/55050-0.html?spm=5176.mktshop55050.2.1.Ecv1Ag" target="_blank" rel="nofollow">工具市场</a>
                                    </li>
                                    <li>
                                        <a href="/course.html" target="_blank">驻云学院</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3 item-info">
                                <h5>媒体</h5>
                                <ul>
                                    <li>
                                        <a href="http://weibo.com/u/3847105583?profile_ftype=1&amp;is_all=1#_0" target="_blank" rel="nofollow">新浪微博</a>
                                    </li>
                                    <li>
                                        <a href="http://i.youku.com/i/UMjkxNjgzNjEwNA==/videos?spm=a2hzp.8244740.0.0" target="_blank" rel="nofollow">优酷频道</a>
                                    </li>
                                    <li>
                                        <a href="http://jiagouyun.huodongxing.com/" target="_blank" rel="nofollow">市场活动</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3 item-info">
                                <h5>店铺链接</h5>
                                <ul>
                                    <li>
                                        <a href="https://market.aliyun.com/store/55050.html" target="_blank" rel="nofollow">云市场</a>
                                    </li>
                                    <li>
                                        <a href="https://www.aliyun.com/support/quyu/zhuyun?spm=5176.7978582.650501.139.hfZAxW" target="_blank" rel="nofollow">区域服务</a>
                                    </li>
                                    <li>
                                        <a href="https://www.aliyun.com/support/partner/zhuyun?spm=5176.7972423.234782.8.9L1lsN" target="_blank" rel="nofollow">技术培训</a>
                                    </li>
                                    <li>
                                        <a href="https://edu.cloudcare.cn/" target="_blank">云中沙箱</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-3 text-right">
                            <h5>驻云 CloudCare</h5>
                            <img src="images/wx.png" width="120" height="120" class="img-wx" />
                        </div>
                    </div>
                </div>
                <div class="link-footer">
                    <div class="container text-center">
                        <span class="powered-by">Powered by 驻云科技 </span>
                        <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">沪ICP备13034243号-2</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="popup-modal">
        <div class="popup-box">
            <div class="popup-header clearfix">
                <div class="pull-left">提示</div>
                <i class="pull-right glyphicon glyphicon-remove"></i>
            </div>
            <div class="popup-content">
                <p class="message"></p>
            </div>
            <div class="popup-footer">
                <a class="btn modal-confirm modal-btn">确定</a>
            </div>
        </div>
    </div>
    <script src="https://assets.kf5.com/supportbox/main.js" id="kf5-provide-supportBox" kf5-domain="ops.kf5.com" charset="utf-8"></script>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/scripts.js"></script>
</body>

</html>